In [1]:
import pandas as pd
import os

In [3]:
cornell_v2 = pd.read_csv("/Users/sankeerthana/Documents/NTU/YEAR_4/CZ4045/Group_Assignment/NLP-text-classification-CNN/datasets/initial/cornell_v2_polarity.csv")
cornell_v2.head()

                                                text sentiment
0  assume nothing .  the phrase is perhaps one of...       pos
1  plot : derek zoolander is a male model .  he i...       pos
2  i actually am a fan of the original 1961 or so...       pos
3  a movie that's been as highly built up as the ...       pos
4   " good will hunting " is two movies in one : ...       pos

In [4]:
posneg = pd.read_csv("/Users/sankeerthana/Documents/NTU/YEAR_4/CZ4045/Group_Assignment/NLP-text-classification-CNN/datasets/initial/100_pos_neg_from_combined.csv")
posneg.head()

                                               title  verdict
0                     Best football play of the year        2
1  Babyâs first laugh makes the mama cry, what ...        2
2  [OC] A little kitty drawn by my local barrista...        2
3  My wife (who in 10 years, Iâve never known t...        2
4                              What a lucky stepson!        2

In [5]:
cornell_v2['sentiment'] = cornell_v2['sentiment'].replace({'neg':0, 'neut':1, 'pos':2})
cornell_v2['sentiment'].value_counts()

2    1000
0    1000
Name: sentiment, dtype: int64

In [6]:
posneg.rename(columns={'title':'text', 'verdict':'sentiment'}, inplace=True)
posneg.head()

                                                text  sentiment
0                     Best football play of the year          2
1  Babyâs first laugh makes the mama cry, what ...          2
2  [OC] A little kitty drawn by my local barrista...          2
3  My wife (who in 10 years, Iâve never known t...          2
4                              What a lucky stepson!          2

In [7]:
final_dataset = pd.concat([cornell_v2, posneg])
final_dataset['sentiment'].value_counts()

2    1100
0    1100
Name: sentiment, dtype: int64

In [8]:
final_dataset.to_csv('/Users/sankeerthana/Documents/NTU/YEAR_4/CZ4045/Group_Assignment/NLP-text-classification-CNN/datasets/initial/cornell_v2_combined.csv', index=False)