# Getting More Labels from the Combined.csv

In [3]:
import pandas as pd
import os

In [4]:
os.chdir('..')

In [5]:
#loading the combined.csv
combined = pd.read_csv('datasets/initial/combined.csv')
combined.head()

   Unnamed: 0                                              title  verdict
0          58  The difference between new and old padding in ...        1
1         310  me n my friend have vry sexual convos (will me...        1
2         207  Went for a dentist appointment for some pain a...        1
3         283                      Why did I text someone again?        1
4         211  GUYS WE HAVE AN ACE CHARACTER AND HES A POC ð...        1

In [6]:
combined.drop(['Unnamed: 0'], axis=1, inplace=True)
combined.head()

                                               title  verdict
0  The difference between new and old padding in ...        1
1  me n my friend have vry sexual convos (will me...        1
2  Went for a dentist appointment for some pain a...        1
3                      Why did I text someone again?        1
4  GUYS WE HAVE AN ACE CHARACTER AND HES A POC ð...        1

In [7]:
combined['verdict'].value_counts()

1    500
2    250
0    250
Name: verdict, dtype: int64

In [8]:
pos = combined[combined['verdict'] == 2]
neg = combined[combined['verdict'] == 0]

In [9]:
pos['verdict'].value_counts()

2    250
Name: verdict, dtype: int64

In [10]:
neg['verdict'].value_counts()

0    250
Name: verdict, dtype: int64

In [11]:
pos_100 = pos.sample(n=100)
neg_100 = neg.sample(n=100)

pos_neg = pd.concat([pos_100, neg_100])
pos_neg['verdict'].value_counts()

2    100
0    100
Name: verdict, dtype: int64

In [39]:
pos_neg.to_csv('100_pos_neg_from_combined.csv',index=False)

In [12]:
test_df = pd.concat([combined,pos_neg]).drop_duplicates(keep=False)
test_df['verdict'].value_counts()

1    500
2    150
0    150
Name: verdict, dtype: int64

In [45]:
test_df.to_csv('crawled_testset_final.csv', index=False)

In [15]:
test_df[test_df['verdict'] == 0]

                                                 title  verdict
753                         I resent my boyfriend (TW)        0
754                                     I Hate 4c Hair        0
756  I acidently killed a little lizard and i hate ...        0
758          I feel bad charging people for counseling        0
759  Feel constantly angry, and regularly checking ...        0
..                                                 ...      ...
989                                 6 months TTC Blues        0
992  I've made a decision that will quite possibly ...        0
995                             Math makes me suicidal        0
996    I'm a lesbian but I'm too afraid to tell anyone        0
999  I've been writing down all my depressive thoug...        0

[150 rows x 2 columns]